@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F1F0FF
}

@layer base {

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
  }
}