@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F1F0FF
}

@layer base {

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
  }
}
/*  --toastify-color-progress-success */
.Toastify__progress-bar--success {
  @apply !bg-violet-300;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-violet-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-violet-500 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-violet-600;
}